<!--
HTML template file for the front end of the Auto-complete form
Takes input from the web page and pass it to the Flask-based Python server
and return the generated suggestions -->

<!DOCTYPE html>
<html lang="en">
<html>
<head>
<style>
table, th, td {
  border: 1px solid black;
}
</style>
</head>
<body bgcolor="#E6E6FA">
<div>
<center>
<p></p>


<h2><font size="6">Auto-comment Front End prototype </font> </h2>

<form action="http://localhost:5000/autocomplete" method="post">
  <b><font size="4"> Enter you word:</font></b><br>
  <input type="text" name="Enter Query" value=""  size="40">
  <br>
   <b><font size="3">
     Suggestion Count: </font></b><br>
  <select name="Suggestion count" id="count">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5" selected>5</option>
  <option value="8">8</option>
  <option value="10">10</option>
  <option value="15">15</option>
  </select>


 <!-- <input type="text" name="Data base" value=""> -->
 <br><br>
  <input type="submit" value="Check">
</form>

<p></p>

<table>
  <tr>
      <th>Autocomplete Suggestions </th>
      </tr>
  <tr>
    <td>{{suggestion}}</td>
  </tr>
</table>

<p></p>
</center>
</div>
</body>
</html>

